.modal_active {
  animation: fade 0.3s ease-in-out 0.3s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.modal__close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 20px;
  height: 30px;
  background: url('../img/union.svg') no-repeat center;
  border: none;
  cursor: pointer;
}

.modal__title {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 700;
  color: var(--color-black);
}

.modal__form {
  width: 390px;
  display: flex;
  flex-direction: column;
}

.form-floating {
  position: relative;
  margin-bottom: 32px;
}

.form-floating > label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 14px;
  padding-top: 5px;
  pointer-events: none;
  border: 1px solid transparent;
  transform-origin: 0 0;
  transition: opacity 0.1s ease-in-out, transform 0.1s ease-in-out,
    font-size 0.1s ease-in-out;
  color: var(--color-gray);
}

.form-floating > .modal__input:focus ~ label,
.form-floating > .modal__input:not(:placeholder-shown) ~ label {
  top: -10px;
  transform: translate(0.15rem, -0.5rem);
  font-size: 12px;
}

.modal__input::placeholder {
  font-size: 0;
}

.modal__input {
  display: block;
  outline: none;
  width: 100%;
  border: none;
  height: 28px;
  border-bottom: 1px solid var(--color-gray-dark);
  color: var(--color-black);
  font-size: 14px;
  font-weight: 600;
}

.modal__label {
  color: var(--color-violet);
}

.modal__contact {
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 -30px;
  margin-bottom: 25px;
  background-color: rgba(200, 197, 209, 0.3);
}


.contacts__inner::-webkit-scrollbar {
  width: 10px;
}

.contacts__inner::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: darkgrey; /* Ползунок темно-серого цвета */
  border: 2px solid white; /* С белыми границами */
}

.modal__btn-contact {
  border: none;
  cursor: pointer;
  display: none;
  position: relative;
  padding-left: 16px;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: var(--color-black);
  transition: color 0.3s ease-in-out;
}

.modal__btn-contact:hover {
  color: var(--color-violet);
}

.modal__btn-contact::before {
  content: '';
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url('../img/add_circle_outline.svg') no-repeat center;
}

.modal__btn-contact.modal__btn-contact_active {
  display: flex;
}

.modal__btn-save {
  padding: 12px 35px;
  align-self: center;
  position: relative;
  margin-bottom: 5px;
  border: none;
  background-color: var(--color-violet);
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-white);
  transition: opacity 0.3s ease-in-out;
}

.modal__btn-save:hover {
  opacity: 0.8;
}

.modal__btn-cancel {
  padding: 0;
  align-self: center;
  border: none;
  background-color: transparent;
  padding-bottom: 1px;
  border-bottom: 1px solid rgb(51, 51, 51);
  font-weight: 400;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.modal__btn-cancel:hover {
  opacity: 0.8;
}

.modal__id {
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-gray);
}

.delete-modal__text {
  margin-bottom: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  color: var(--color-black);
}

.delete-modal__title {
  margin-bottom: 11px;
}

.modal__error {
  margin-top: -17px;
  line-height: 14px;
  font-size: 10px;
  text-align: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 255px;
  color: var(--color-red-errors);
}

.modal__spinner {
  position: absolute;
  display: none;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
}

.modal__spinner svg {
  stroke: #b89eff;
  width: 15px;
  height: 15px;
  fill: none;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
